.App {
  text-align: center;
}

.title {
  background-color: rgb(23, 21, 37);
  color: white
}

.spaceshipbox {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
}
.spaceship {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(44, 84, 79);
  width: 20%;
  height: 25%;
  border-radius: 6%;
  margin: 2%;
}

.name {
  position: relative;
  top: 5px;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
}

.des {
  flex-direction: column;
  position: relative;
  bottom: 10px;
  color: red;
}